@* @page
@model YourNamespace.LoginModel *@

@page "/Login"
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    <link rel="stylesheet" href="~/css/styleLogin.css">
</head>
<body>
    <div class="login-container">
        <h2>Đăng nhập</h2>
        <input type="text" placeholder="Tên đăng nhập">
        <div class="password-container">
            <input type="password" id="passwordInput" placeholder="Mật khẩu">
            <span class="toggle-password" onclick="togglePasswordVisibility()">
                <i id="passwordIcon" class="fa fa-eye"></i>
            </span>
        </div>
        <input type="text" placeholder="Tên công ty">
        <button asp-controller="AccountController" class="login-button">Đăng nhập</button>
        <div>Nếu bạn chưa có tài khoản, bấm vào đây để <a href="Register" class="register-link">Đăng Kí</a>.</div>
    </div>

    <script>
        function togglePasswordVisibility() {
            var passwordInput = document.getElementById("passwordInput");
            var passwordIcon = document.getElementById("passwordIcon");

            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                passwordIcon.classList.remove("fa-eye");
                passwordIcon.classList.add("fa-eye-slash");
            } else {
                passwordInput.type = "password";
                passwordIcon.classList.remove("fa-eye-slash");
                passwordIcon.classList.add("fa-eye");
            }
        }
    </script>
</body>
</html>