body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    padding: 20px;
}

input[type="text"] {
    padding: 8px;
    width: 200px;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
    color: #fff;
    border: none;
    cursor: pointer;
    margin: 5px;
    border-radius: 5px;
}

button:hover {
    opacity: 0.8;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 6px;
    width: 100%;
    margin-left: 8px;
}

.quick-key {
    margin-top: 20px;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.cart {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.cart button {
    background-color: #007bff;
}

.cart button:hover {
    background-color: #0056b3;
}

.payment-container {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}
.logout-home {
    position: Absolute;
    top: 30px;
    right: 150px;
}

.customer{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 10px;

}

#paymentTable{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 10px;

}

.transiction{
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 20px;
    padding: 10px;

}